<h1 align='left'> <%=link_to 'HomePage' , sites_path %>

<h1 align='center'>
<b>Welcome to Login Page</b> 
</h1>

<h1 align ='center'>
<%= form_with scope: :sites, url: sites_path,local: true do |form| %>

  <p>

     <%= form.label :username%><br>
     <%= form.text_field :username %>
     </p>

    <p>

    <%= form.label :password%><br>
    <%= form.text_field :password%>


   </p>
   <p>

    <%=form.submit%>
   </p>

</h1>

   

<%end%>

